:root {
    --font: 'Open Sans', sans-serif;
    --primary-color: #fe724c;
    --primary-hover-color: #df6442;
    --text-color: #00000;
    --text-secondary-color: #5b5b5e;
    --white-color: #ffff;
    --separator-color: #d4d6e0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
